.auth-page {
    display: grid;
    place-items: center;
}

.auth-card {
    width: 100%;
    max-width: 420px;
    background: var(--kh-white);
    border: 1px solid var(--kh-border-10);
    padding: 36px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
    position: relative;
    top: 20%;
}

.auth-card h1 {
    font-family: var(--kh-font-display);
    text-align: center;
    margin-bottom: 26px;
    font-size: 28px;
}

label {
    font-family: var(--kh-font-body);
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid var(--kh-border-10);
    font-family: var(--kh-font-body);
}

.auth-btn.primary {
    width: 100%;
    background: var(--kh-black);
    color: var(--kh-white);
    padding: 14px;
    border-radius: var(--kh-radius);
    border: none;
    margin-top: 22px;
    cursor: pointer;
    font-family: var(--kh-font-display);
    font-size: 16px;
    transition: 0.2s;
}

.auth-btn.primary:hover {
    opacity: 0.85;
}

.auth-dropdown {
    margin-top: 6px;
    width: 100% !important;
}

.auth-foot {
    text-align: center;
    margin-top: 20px;
    font-family: var(--kh-font-body);
}

.auth-foot a {
    color: var(--kh-black);
    text-decoration: underline;
}

.kh-avatar.small {
    display: none;
}

.landing-btn-text {
    font-style: normal;
}

.p-icon-field-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.p-password-input {
    width: 420px;
}

.p-icon-field-right {
    .p-input-icon {
        position: relative;
        top: 5px;
        right: 30px;

        svg {
            width: 22px;
            height: 22px;
        }
    }
}

.drop-down-sign-up {
    margin-top: 90px;
}